alembic
blinker
certifi
charset-normalizer
click
flask
flask-cors
flask-migrate
flask-sqlalchemy
greenlet
idna
itsdangerous
jinja2
mako
markupsafe
pip
requests
sqlalchemy
typing-extensions
urllib3
werkzeug
