{% extends "base.html" %}
{% block head %}
    {{ super() }}
<script src="{{ url_for('static', filename='js/rate.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/rate.css') }}">
{% endblock %}
{% block title %} Rate {% endblock %}
{%block content %}

<main>
<form id="reviewForm"> 
    <div id = "info">
        <h1 id="food">{{food}} - {{ session['username'] }}</h1>
        <div class="stars">
            <span id="star5" class="star">&#9733;</span>
            <span id="star4" class="star">&#9733;</span>
            <span id="star3" class="star">&#9733;</span>
            <span id="star2" class="star">&#9733;</span>
            <span id="star1" class="star">&#9733;</span>
        </div>
    </div>       
    <textarea id="review" placeholder="Leave blank to add only star rating..." ></textarea>
    <button type="submit">Post Review</button>
</form>
<div id="reviews-container"></div>
</main>


{% endblock %}